.topbar {
    font-family: 'Barrio', cursive;
}

p, h1 {
    font-family: 'Raleway', sans-serif;
}

.aboutme {
    border: 2px solid;
}

body {
    background-color: #eae4ce;
}

.glyphicon.glyphicon-phone {
    font-size: 30px;
}

.glyphicon.glyphicon-envelope {
    font-size: 30px;
}

.glyphicon.glyphicon-home {
    font-size: 30px;
}

#imagestyling {
    height: 200px;
}
